@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

body {
    font-family: 'Noto Sans TC', '微軟正黑體',sans-serif;
    background-color: #dcdde1;
}

.card-img {
    opacity: 0.7;
}

#cardHead {
    border: none;
    overflow: hidden;
    max-height: 250px;
}

.in-card-img {
    min-width: 50px;
    min-height: 50px;
}

.little-box {
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}

.little-box div {
    min-height: 50px;
}
